<div id="content">
    <div class="item-sale">
        <p class="title">SẢN PHẨM GIẢM GIÁ</p>
        <div class="list-item">
            <div class="item">
                <a href="#"><img src="https://oldsailor.com.vn/vnt_upload/product/04_2022/b10fcd2592075c5905163.jpg"></a>
                <div class="summary-information-item">
                    <a href="#" class="name-item">Áo sơ mi</a>
                    <p class="cost">550,000</p>
                    <p class="discount-price">399,000</p>
                </div>
            </div>
            <div class="item">
                <a href="#"><img src="https://oldsailor.com.vn/vnt_upload/product/04_2022/b10fcd2592075c5905163.jpg"></a>
                <div class="summary-information-item">
                    <a href="#" class="name-item">Áo sơ mi</a>
                    <p class="cost">550,000</p>
                    <p class="discount-price">399,000</p>
                </div>
            </div>
            <div class="item">
                <a href="#"><img src="https://oldsailor.com.vn/vnt_upload/product/04_2022/b10fcd2592075c5905163.jpg"></a>
                <div class="summary-information-item">
                    <a href="#" class="name-item">Áo sơ mi</a>
                    <p class="cost">550,000</p>
                    <p class="discount-price">399,000</p>
                </div>
            </div>
            <div class="item">
                <a href="#"><img src="https://oldsailor.com.vn/vnt_upload/product/04_2022/b10fcd2592075c5905163.jpg"></a>
                <div class="summary-information-item">
                    <a href="#" class="name-item">Áo sơ mi</a>
                    <p class="cost">550,000</p>
                    <p class="discount-price">399,000</p>
                </div>
            </div>
            <div class="item">
                <a href="#"><img src="https://oldsailor.com.vn/vnt_upload/product/04_2022/b10fcd2592075c5905163.jpg"></a>
                <div class="summary-information-item">
                    <a href="#" class="name-item">Áo sơ mi</a>
                    <p class="cost">550,000</p>
                    <p class="discount-price">399,000</p>
                </div>
            </div>
            <div class="item">
                <a href="#"><img src="https://oldsailor.com.vn/vnt_upload/product/04_2022/b10fcd2592075c5905163.jpg"></a>
                <div class="summary-information-item">
                    <a href="#" class="name-item">Áo sơ mi</a>
                    <p class="cost">550,000</p>
                    <p class="discount-price">399,000</p>
                </div>
            </div>
        </div>
    </div>

    <div class="item-suggestions">
        <p class="title">SẢN PHẨM GỢI Ý</p>
        <div class="list-item">
            <div class="item">
                <a href="#"><img src="https://oldsailor.com.vn/vnt_upload/product/04_2022/b10fcd2592075c5905163.jpg"></a>
                <div class="summary-information-item">
                    <a href="#" class="name-item">Áo sơ mi</a>
                    <p class="cost">550,000</p>
                    <p class="discount-price">399,000</p>
                </div>
            </div>
            <div class="item">
                <a href="#"><img src="https://oldsailor.com.vn/vnt_upload/product/04_2022/b10fcd2592075c5905163.jpg"></a>
                <div class="summary-information-item">
                    <a href="#" class="name-item">Áo sơ mi</a>
                    <p class="cost">550,000</p>
                    <p class="discount-price">399,000</p>
                </div>
            </div>
            <div class="item">
                <a href="#"><img src="https://oldsailor.com.vn/vnt_upload/product/04_2022/b10fcd2592075c5905163.jpg"></a>
                <div class="summary-information-item">
                    <a href="#" class="name-item">Áo sơ mi</a>
                    <p class="cost">550,000</p>
                    <p class="discount-price">399,000</p>
                </div>
            </div>
            <div class="item">
                <a href="#"><img src="https://oldsailor.com.vn/vnt_upload/product/04_2022/b10fcd2592075c5905163.jpg"></a>
                <div class="summary-information-item">
                    <a href="#" class="name-item">Áo sơ mi</a>
                    <p class="cost">550,000</p>
                    <p class="discount-price">399,000</p>
                </div>
            </div>
            <div class="item">
                <a href="#"><img src="https://oldsailor.com.vn/vnt_upload/product/04_2022/b10fcd2592075c5905163.jpg"></a>
                <div class="summary-information-item">
                    <a href="#" class="name-item">Áo sơ mi</a>
                    <p class="cost">550,000</p>
                    <p class="discount-price">399,000</p>
                </div>
            </div>
            <div class="item">
                <a href="#"><img src="https://oldsailor.com.vn/vnt_upload/product/04_2022/b10fcd2592075c5905163.jpg"></a>
                <div class="summary-information-item">
                    <a href="#" class="name-item">Áo sơ mi</a>
                    <p class="cost">550,000</p>
                    <p class="discount-price">399,000</p>
                </div>
            </div>
            <div class="item">
                <a href="#"><img src="https://oldsailor.com.vn/vnt_upload/product/04_2022/b10fcd2592075c5905163.jpg"></a>
                <div class="summary-information-item">
                    <a href="#" class="name-item">Áo sơ mi</a>
                    <p class="cost">550,000</p>
                    <p class="discount-price">399,000</p>
                </div>
            </div>
            <div class="item">
                <a href="#"><img src="https://oldsailor.com.vn/vnt_upload/product/04_2022/b10fcd2592075c5905163.jpg"></a>
                <div class="summary-information-item">
                    <a href="#" class="name-item">Áo sơ mi</a>
                    <p class="cost">550,000</p>
                    <p class="discount-price">399,000</p>
                </div>
            </div>
            <div class="item">
                <a href="#"><img src="https://oldsailor.com.vn/vnt_upload/product/04_2022/b10fcd2592075c5905163.jpg"></a>
                <div class="summary-information-item">
                    <a href="#" class="name-item">Áo sơ mi</a>
                    <p class="cost">550,000</p>
                    <p class="discount-price">399,000</p>
                </div>
            </div>
            <div class="item">
                <a href="#"><img src="https://oldsailor.com.vn/vnt_upload/product/04_2022/b10fcd2592075c5905163.jpg"></a>
                <div class="summary-information-item">
                    <a href="#" class="name-item">Áo sơ mi</a>
                    <p class="cost">550,000</p>
                    <p class="discount-price">399,000</p>
                </div>
            </div>
            <div class="item">
                <a href="#"><img src="https://oldsailor.com.vn/vnt_upload/product/04_2022/b10fcd2592075c5905163.jpg"></a>
                <div class="summary-information-item">
                    <a href="#" class="name-item">Áo sơ mi</a>
                    <p class="cost">550,000</p>
                    <p class="discount-price">399,000</p>
                </div>
            </div>
            <div class="item">
                <a href="#"><img src="https://oldsailor.com.vn/vnt_upload/product/04_2022/b10fcd2592075c5905163.jpg"></a>
                <div class="summary-information-item">
                    <a href="#" class="name-item">Áo sơ mi</a>
                    <p class="cost">550,000</p>
                    <p class="discount-price">399,000</p>
                </div>
            </div>
        </div>
    </div>
</div>