<div class="header-login">
    <div class="login-left">
        <img src="images/logo-shop.png" alt="logo shop">
    </div>
    <div  class="login-right">
        <a href="#">Liên hệ chúng tôi!</a>
    </div>
</div>