<div id="footer">
    <div class="support">
        <ul>
            <li><a href="#">Hỗ trợ khách hàng</a></li>
            <li><a href="#">Về chúng tôi</a></li>
            <li><a href="#">Liên hệ với chúng tôi</a></li>
        </ul>
    </div>

    <div class="icons-support">
        <ul>
            <li><img src="images/phone-footer.png" alt=""></li>
            <li><img src="images/facebook-footer.png" alt=""></li>
            <li><img src="images/twitter-footer.png" alt=""></li>
        </ul>
    </div>
</div>