<div class="user-infor">
    <div class="form-user-infor">
        <p class="title">Hồ sơ của tôi</p>
        <div class="infor">
            <div class="infor-left">
                <ul>
                    <li><a>Tên đăng nhập</a></li>
                    <li><a>Biệt danh</a></li>
                    <li><a>Email</a></li>
                    <li><a>Số điện thoại</a></li>
                    <li><a>Giới tính</a></li>
                    <li><a>Ngày sinh</a></li>
                </ul>
            </div>
            <div class="infor-beetwen">
                <ul>
                    <li><input type="text" placeholder="Tên đăng nhập"></li>
                    <li><input type="text" placeholder="Tên"></li>
                    <li><input type="email" placeholder="Email"></li>
                    <li><input type="text" placeholder="Phone"></li>
                    <li>
                        <input  type="radio">
                        <p>Nam</p>
                        <input type="radio">
                        <p>Nữ</p>
                    </li>
                    <li>
                        <select name="Ngay">
                            <option val></option>
                        </select>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>