<div style="background-color: #e2e1e1; padding: 120px 0">
    <form class="login-form" action="/dangky" method="post" enctype="application/x-www-form-urlencoded">
        <div style="display: flex; align-items: center; justify-content: center">
            <p style="font-size: 32pt">Đăng ký</p>
        </div>
        <div class="mb-3" style="margin-top: 32px">
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email"
                   placeholder="Email/Số điện thoại" style="height: 48px">
        </div>
        <div class="mb-3" style="margin-top:64px">
            <input type="password" class="form-control" id="password" placeholder="Mật khẩu" style="height: 48px"
            name="password">
        </div>
        <div class="mb-3" style="margin-top:64px">
            <input type="password" class="form-control" id="rePassword" placeholder="Nhập lại mật khẩu"
                   name="rePassword"
                   style="height: 48px">
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top: 64px; width: 100%; height: 48px">Đăng ký</button>
        <div id="emailHelp" class="form-text"
             style="display: flex; width: 100%; align-items: center; justify-content: center; margin-top: 32px">
            <span>Bạn đã có tài khoản?</span>
            <a href="dang-nhap">Đăng nhập</a></div>
    </form>
</div>