<div id="header">
    <div id="logo">
        <img src="images/logo-shop.png" alt="">
    </div>
    <div id="search">
        <input type="text">
        <input type="submit" value="Tìm kiếm">
    </div>
    <div class="account">
        <div class="user">
            <img src="images/user.png" alt="">
        </div>
        <div class="account-management">
            <a href="dang-nhap">Đăng ký/Đăng nhập</a>
            <a href="tai-khoan">Tài khoản</a>
        </div>
    </div>
    <div class="cart">
        <img src="images/cart.png" alt="">
        <a href="#">Giỏ hàng</a>
    </div>
</div>