<nav class="nav nav-pills nav-fill">
    <a class="nav-link table-hover" href="#">Trang chủ</a>
    <a class="nav-link" href="#">Danh mục</a>
    <a class="nav-link" href="#">Sản phẩm</a>
    <a class="nav-link" href="#">Liên hệ</a>
    <a class="nav-link" href="#">Tin tức</a>
    <a class="nav-link" href="#">Giới thiệu</a>
</nav>