*{
  margin: 0;
  padding: 0;
}


#header {
  height: 128px;
  background-color: #3995f7;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
}


#logo > img {
  width: 128px;
  height: 128px;
}

.user > img {
  width: 56px;
  height: 56px;
}

.cart > img {
  width: 56px;
  height: 56px;
}

.account {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.account-management {
  display: flex;
  margin-left: 16px;
  flex-direction: column;
}

.account-management > a{
  color: #fff;
}

.account-management > a:hover{
  color: #fff;
  opacity: 0.7;
}

.cart >  a {
  margin-left: 16px;
  color: #fff;
}

.cart >  a:hover{
  color: #fff;
  opacity: 0.7;
}

input[type="text"] {
  width: 400px;
  height: 40px;
  padding-right: 50px;
  border: none;
}

input[type="submit"] {
  margin-left: -10px;
  height: 42px;
  width: 80px;
  background: blue;
  color: white;
  border: 0;
  -webkit-appearance: none;
}

.header-login {
  background-color: #3995f7;
  height: 128px;
  padding: 0 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-login > .login-left > img {
  width:128px;
  height: 128px;
  margin-right: 16px;
}

#footer {
  padding: 32px 10%;
}

#footer .support ul {
  display: flex;
  justify-content: space-between;
}

.support ul li {
  list-style: none;
}

.support ul li a {
  text-decoration: none;
  font-size: 14pt;
  display: block;
  margin-top: 16px;
}

.support ul li a:hover {
  text-decoration: underline;
}


.icons-support ul {
  display: flex;
  flex-direction: row-reverse;
  gap: 16px;
  margin: 0;
  list-style: none;
}
.icons-support ul li img {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.login-form {
  background-color: #fff;
  margin: 0 32%;
  padding:30px 3%;
  border-radius: 5px;
}

.login-right a{
  color: #fff;
  text-decoration: none;
}

.login-right a:hover {
  color: #fff;
  opacity: 0.7;
}

nav {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-pills {
  --bs-nav-pills-border-radius: 0rem !important;
}

.nav-link {
  display: block !important;
  border-left: 1px solid #ccc !important;
}

.nav-link:first-child{
  border-left: none !important;
}

.nav-pills .nav-link {
   border-radius: 0 !important;
   color: #000;
}

.nav-link:hover {
  background-color: #3995f7 !important;
  color: #fff !important;
}

.carousel-inner img {
  width: 100%;
  height: 600px;
}

.slider{
  padding-top: 20px;
  padding-left: 64px;
  padding-right: 64px;
  background-color: #eaeaea;
}

#content{
  padding: 50px 64px;
  background-color: #eaeaea;
}
.item-sale{
  margin-bottom: 50px;
}


.title {
  font-size: 24pt;
  background-color: #fff;
  margin-bottom: 10px;
  padding-left: 16px;
}

.list-item{
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item{
  background-color: #fff;
  margin-bottom: 10px;
}

.item img{
  width: 280px;
}

.item:hover{
  box-shadow: 0 0 10px 0 #3995f7;
}

.summary-information-item{
  text-align: center;
}

.name-item{
  font-size: 14pt;
  color: #000;
  padding: 12px 0;
  display: block;
}

.cost{
  text-decoration: line-through;
}

.discount-price{
  color: red;
}

.user-infor{
  padding: 50px 64px;
  background-color: #eaeaea;
}

.form-user-infor{
  background-color: #fff;
}